.container {
    max-width: 30rem;
    padding: 1rem;
    margin: 0 auto;
}

/* Spacing */
.flow > * + * {
    margin-top: var(--flow-space);
}

.margin-auto {
    margin: auto;
}

/* Buttons */
.btn {
    padding: 0.75rem 1rem;
    border: none;
    cursor: pointer;;
}

/* Layouts */
.grid {
    display: grid;
}

.grid-place-center {
    place-items: center;
}

.grid-gap {
    gap: 1rem;
}

.grid-2-columns {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-columns {
    grid-template-columns: repeat(3, 1fr);
}

.flex {
    display: flex;
}

.flex-gap {
    gap: 0.75rem;
}

@media (min-width: 48rem) {
    .flex-gap {
        gap: 1.5rem;
    }

    .grid-gap {
        gap: 1.25rem;
    }
}

.flex-direction-column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-space-between {
    justify-content: space-between;
}

/* Font size */
.font-size-500 {
    font-size: var(--font-size-500);
}

.font-size-400 {
    font-size: var(--font-size-400);
}

.font-size-300 {
    font-size: var(--font-size-300);
}

.font-size-200 {
    font-size: var(--font-size-200);
}

.font-size-100 {
    font-size: var(--font-size-100);
}

/* Font weight*/
.font-weight-bold {
    font-weight: var(--font-weight-bold);
}

.font-weight-medium {
    font-weight: var(--font-weight-medium);
}

/* Background*/
.background-light-blue {
    background-color: var(--light-blue);
}

.background-light-yellow {
    background-color: var(--light-yellow);
}

.background-semi-dark-navy {
    background-color: var(--semi-dark-navy);
}

.background-dark-navy {
    background-color: var(--dark-navy);
}

.background-silver {
    background-color: var(--silver);
}

/* Text Color */
.text-color-silver {
    color: var(--silver);
}

.text-color-dark-navy {
    color: var(--dark-navy);
}

.text-color-light-yellow {
    color: var(--light-yellow);
}

.text-color-light-blue {
    color: var(--light-blue);
}

.uppercase {
    text-transform: uppercase;
}

.text-align-center {
    text-align: center;
}

/* Border Radius */
.border-radius {
    border-radius: 0.5rem;
}

