.flex {
    display: flex;
}

.flex--gap {
    gap: var(--gap);
}

.flex--direction-column {
    flex-direction: column;

}

.flex--center {
    align-items: center;
    justify-content: center;
}

.flex--align-center {
    align-items: center;
}

.flex--justify-center {
    justify-content: center;
}

.flex--justify-space {
    justify-content: space-between;
}