.modal {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--semi-dark-navy);
  z-index: 99;
  display: grid;
  place-content: center;
  padding-block: clamp(3rem, 10vw, 4.5rem);
  box-shadow: 3px 15px 20px rgba(0, 0, 0, 0.5);
}
