.choice__input {
    display: none;
}

.choice__form-wrapper {
    min-width: 30rem;
}

.choice__form-control {
    padding: 1.25rem;
    border-radius: var(--border-radius);
}

.choice__form-text {
    color: hsl(var(--raw-silver) / 0.5);
}

.choice__input-wrapper {
    background-color: var(--dark-navy);
    border-radius: var(--border-radius);
    padding: 0.25rem;
}

.choice__label {
    width: 100%;
    min-height: 4.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15%;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.choice__label--x {
    background-image: url('/src/assets/icon-x-silver.svg');
}

.choice__label--o {
    background-image: url('/src/assets/icon-o-silver.svg');
}

.choice__input:checked + .choice__label {
    background-color: var(--silver);
}

#choice__input--x:checked + .choice__label--x{
    background-image: url('/src/assets/icon-x-dark-navy.svg');
}


#choice__input--o:checked + .choice__label--o {
    background-image: url('/src/assets/icon-o-dark-navy.svg');
}

.choice__btn {
    width: 100%;
}





