.game__score-wrapper {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0.5rem;
    border-radius: var(--border-radius-1);
}

.game__score-label {
    font-size: var(--font-size-100);
}

.game__score {
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-bold);
    margin-top: 0.15rem;
}