.btn {
    font-size: var(--font-size-200);
    font-weight: var(--font-weight-bold);
    padding: 0.75rem 1rem;
    border: none;
    cursor: pointer;;
    text-transform: uppercase;
    color: var(--dark-navy);
    transition: all 0.3s ease;
    white-space: nowrap;
    border-radius: var(--border-radius-1);
}

.btn--yellow {
    background-color: var(--light-yellow);
    box-shadow: 0 6px hsl(var(--raw-light-yellow) / 0.6);
}

.btn--yellow:hover {
    background-color: var(--light-yellow-hover);
}

.btn--blue {
    background-color: var(--light-blue);
    box-shadow: 0 6px hsl(var(--raw-light-blue) / 0.6);
}

.btn--blue:hover {
    background-color: var(--light-blue-hover);
}

.btn--silver {
    background-color: var(--silver);
    box-shadow: 0 6px hsl(var(--raw-silver) / 0.6);
}

.btn--silver:hover {
    background-color: var(--silver-hover);
}