:root {
  /* Font Family*/
  --font-family-outfit: 'Outfit', sans-serif;

  /* Font sizes */
  --font-size-500: 1.5rem;
  --font-size-400: 1.25rem;
  --font-size-300: 1rem;
  --font-size-200: 0.875rem;
  --font-size-100: 0.875rem;

  /* Font weights */
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /*  Colors */
  --light-blue: hsl(178, 60%, 48%);
  --light-blue-hover: hsl(178, 75%, 65%);
  --light-yellow: hsl(39, 88%, 58%);
  --light-yellow-hover: hsl(39, 100%, 69%);
  --dark-navy: hsl(202, 32%, 15%);
  --semi-dark-navy: hsl(199, 35%, 19%);
  --silver: hsl(198, 23%, 72%);
  --silver-hover: hsl(197, 33%, 89%);

  --raw-light-yellow: 39, 88%, 58%;
  --raw-light-blue: 178, 60%, 48%;
  --raw-semi-dark-navy: 199, 35%, 19%;
  --raw-silver: 198, 23%, 72%;

  /* Spacing */
  --flow-space: 1.25rem;

}

@media (min-width: 48em) {
  :root {
    --font-size-500: 2.5rem;
    --font-size-400: 1.5rem;
    --font-size-300: 1.25rem;
    --font-size-200: 1rem;
    --flow-space: 1.5rem;
  }
}