.grid {
  display: grid;
}

.grid--gap {
  gap: var(--gap);
}

.grid--place-center {
  place-items: center;
}

.grid--2-columns {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-columns {
  grid-template-columns: repeat(3, 1fr);
}
