.game__btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
}

.game__btn {
  width: 8.5rem;
  height: 8.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  border: 2px solid black;
  border-radius: 0.25rem;
}

.game__btn.clicked {
  pointer-events: none;
}
