.choice__form-wrapper {
    width: 100%;
}

.choice__form-control {
    padding: 1.25rem;
    border-radius: var(--border-radius-1);
}

.choice__input {
    display: none;
}

.choice__input-wrapper {
    background-color: var(--dark-navy);
    border-radius: var(--border-radius-1);
    padding: 0.5rem;
}

.choice__label {
    width: 100%;
    min-height: 4.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

@media (min-width: 32em) {
    .choice__label {
        background-size: 20%;
    }
}

@media (min-width: 48em) {
    .choice__label {
        background-size: 15%;
    }
}

.choice__label--x {
    background-image: url('/src/assets/icon-x-silver.svg');
}

.choice__label--o {
    background-image: url('/src/assets/icon-o-silver.svg');
}

.choice__input:checked + .choice__label {
    background-color: var(--silver);
}

#choice__input--x:checked + .choice__label--x{
    background-image: url('/src/assets/icon-x-dark-navy.svg');
}


#choice__input--o:checked + .choice__label--o {
    background-image: url('/src/assets/icon-o-dark-navy.svg');
}

.choice__form-text {
    color: hsl(var(--raw-silver) / 0.5);
}

.choice__btn {
    width: 100%;
    margin-top: clamp(1.5rem, 4vw, 2.5rem);
}





