.choice__logo {
  margin-bottom: 2.5rem;
}

.choice__form {
  min-width: 24rem;
  text-align: center;
}

.choice__content {
  background-color: var(--semi-dark-navy);
  padding: 1.25rem;
  border-radius: var(--border-radius-100);
}

.choice__text {
  color: white;
}

.choice__radios {
  border-radius: var(--border-radius-100);
  overflow: hidden;
}

.choice__radio-wrapper {
  width: 100%;
}

.choice__radio {
  display: none;
}

.choice__label {
  display: block;
  width: 100%;
  background-color: var(--dark-navy);
  padding-block: 2rem;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
}

.choice__radio:checked + .choice__label {
  background-color: silver;
}

.choice__label--x {
  background-image: url("/src/assets/icon-x-silver.svg");
}

.choice__radio:checked + .choice__label--x {
  background-image: url("/src/assets/icon-x-dark-navy.svg");
}

.choice__label--o {
  background-image: url("/src/assets/icon-o-silver.svg");
}

.choice__radio:checked + .choice__label--o {
  background-image: url("/src/assets/icon-o-dark-navy.svg");
}

.choice__btn {
  width: 100%;
}
