:root {
  /* Font Family*/
  --font-outfit: "Outfit", sans-serif;
  --font-barlow-semi: "Barlow Semi Condensed", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*margin: 0;*/
  /*padding: 0;*/
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

input[type="radio"] {
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 0.5rem 1.25rem;
  text-transform: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2 {
  text-align: center;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--font-barlow-semi);
  /*background-color: var(--dark-navy);*/
  /*font-weight: var(--font-weight-medium);*/
  position: relative;
  display: grid;
  place-content: center;
  text-transform: uppercase;
}

table {
  width: 100%;
  margin-top: 1.75rem;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
}

.form {
  display: flex;
  gap: 0.5rem;
}

.form > input {
  width: 100%;
}

/* Text Utility */
.text--center {
  text-align: center;
}

/* Flex Utility */
.flex {
  display: flex;
  gap: 0.5rem;
}

.flex--gap-200 {
  gap: 2rem;
}

.flex--gap-100 {
  gap: 1rem;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-space {
  justify-content: space-between;
}

.flex--align-center {
  align-items: center;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

/* Grid Utility */
.grid {
  display: grid;
}

.grid--content-center {
  place-content: center;
}

.grid--items-center {
  place-items: center;
}

/* Margins */
.margin-300 {
  margin-top: 2rem;
}

.margin-200 {
  margin-top: 1.5rem;
}

.margin-100 {
  margin-top: 1rem;
}

/* Width */
.width-300 {
  width: 64rem;
}

.width-200 {
  width: 48rem;
}

.width-100 {
  width: 36rem;
}
