:root {
  /* Font Family*/
  --font-outfit: "Outfit", sans-serif;
  --font-barlow-semi: "Barlow Semi Condensed", sans-serif;

  /* Font Sizes */
  --font-size-500: 1.5rem;
  --font-size-400: 1.25rem;
  --font-size-300: 1rem;
  --font-size-200: 1rem;
  --font-size-100: 0.8125rem;

  /* Font Weight */
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Colors */
  --dark-navy: hsl(202, 32%, 15%);
  --semi-dark-navy: hsl(199, 35%, 19%);
  --light-blue: hsl(178, 60%, 48%);
  --very-light-blue: hsl(178, 75%, 65%);
  --yellow: hsl(39, 88%, 58%);
  --light-yellow: hsl(39, 100%, 69%);
  --silver: hsl(198, 23%, 72%);
  --light-silver: hsl(197, 33%, 89%);

  /* Raw Colors */
  --raw-yellow: 39, 88%, 58%;
  --raw-silver: 198, 23%, 72%;
  --raw-navy: 199, 35%, 19%;

  /* Spacing */
  --flow-space: 1rem;
  --gap: 1rem;

  /* Border Radius  */
  --border-radius-200: 1rem;
  --border-radius-100: 0.75rem;
}

@media (min-width: 48em) {
  :root {
    /* Font Sizes */
    --font-size-500: 2.5rem;
    --font-size-400: 1.5rem;
    --font-size-300: 1.25rem;
    --font-size-200: 1.125rem;
    --font-size-100: 0.875rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

body {
  font-family: var(--font-outfit);
  font-size: var(--font-size-200);
  background-color: var(--dark-navy);
  color: var(--light-silver);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  min-height: 100vh;
  display: grid;
  place-content: center;
  line-height: 1.5;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.flow > * + * {
  margin-top: var(--flow-space);
}

/* Flex Utility */
.flex {
  display: flex;
}

.flex--gap {
  gap: var(--gap);
}

.flex--column {
  flex-direction: column;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-space {
  justify-content: space-between;
}

.flex--align-center {
  align-items: center;
}

/* Grid Utility */
.grid {
  display: grid;
}

.grid--gap {
  gap: var(--gap);
}

.grid--items-center {
  place-items: center;
}

.grid--content-center {
  place-content: center;
}

/* Font Sizes */
.font-size-500 {
  font-size: var(--font-size-500);
}

.font-size-400 {
  font-size: var(--font-size-400);
}

.font-size-300 {
  font-size: var(--font-size-300);
}

.font-size-200 {
  font-size: var(--font-size-200);
}

.font-size-100 {
  font-size: var(--font-size-100);
}

/* Font Weight */
.font-bold {
  font-weight: bold;
}
