/* Utility Classes */
.flow > * + * {
    margin-top: var(--flow-space);
}

/* Buttons */
.btn {
    font-size: var(--font-size-200);
    font-weight: var(--font-weight-bold);
    padding: 0.75rem 1rem;
    border: none;
    cursor: pointer;;
    text-transform: uppercase;
    color: var(--dark-navy);
    transition: all 0.3s ease;
    white-space: nowrap;
    border-radius: var(--border-radius);
}

.btn--yellow {
    background-color: var(--light-yellow);
    box-shadow: 0 6px hsl(var(--raw-light-yellow) / 0.6);
}

.btn--yellow:hover {
    background-color: var(--light-yellow-hover);
}

.btn--blue {
    background-color: var(--light-blue);
    box-shadow: 0 6px hsl(var(--raw-light-blue) / 0.6);
}

.btn--blue:hover {
    background-color: var(--light-blue-hover);
}

.btn--silver {
    background-color: var(--silver);
    box-shadow: 0 6px hsl(var(--raw-silver) / 0.6);
}

.btn--silver:hover {
    background-color: var(--silver-hover);
}

/* Layouts*/
.container {
    max-width: 32rem;
    padding: 1rem;
    margin: 0 auto;
}

/* Flex Utility */
.flex {
    display: flex;
}

.flex--gap {
    gap: var(--gap);
}

.flex--direction-column {
    flex-direction: column;
}

.flex--align-justify-center {
    align-items: center;
    justify-content: center;
}

.flex--align-center {
    align-items: center;
}

.flex--justify-center {
    justify-content: center;
}

.flex--justify-space {
    justify-content: space-between;
}

/* Grid Utility */
.grid {
    display: grid;
}

.grid--gap {
    gap: var(--gap);
}

.grid--items-center {
    place-items: center;
}

.grid--content-center {
    place-content: center;
}

.grid--2-columns {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-columns {
    grid-template-columns: repeat(3, 1fr);
}

/* Background */
.background-blue {
    background-color: var(--light-blue);
}

.background-yellow {
    background-color: var(--light-yellow);
}

.background-semi-dark {
    background-color: var(--semi-dark-navy);
}

.background-dark {
    background-color: var(--dark-navy);
}

.background-silver {
    background-color: var(--silver);
}

/* Text Color */
.text-silver {
    color: var(--silver);
}

.text-navy {
    color: var(--dark-navy);
}

.text-yellow {
    color: var(--light-yellow);
}

.text-blue {
    color: var(--light-blue);
}


/* Font size */
.font-size-500 {
    font-size: var(--font-size-500);
}

.font-size-400 {
    font-size: var(--font-size-400);
}

.font-size-300 {
    font-size: var(--font-size-300);
}

.font-size-200 {
    font-size: var(--font-size-200);
}

.font-size-100 {
    font-size: var(--font-size-100);
}